<div class="culmn">
  <section id="hello" class="home bg-mega">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="main_home text-center">
          <div class="home_text">
            <h4 class="text-white"><em><%= t ".quotations" %></em></h4>
            <h5 class="text-white"><em><%= t ".author" %></em></h5>
          </div>
        </div>
      </div>
    </div>
  </section> 
  
  <!-- scroll up-->
  <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
  </div><!-- End off scroll up -->
</div>
