<footer id="footer" class="footer bg-mega">
  <div class="container">
    <div class="row">
      <div class="main_footer p-top-40 p-bottom-30">
        <div class="col-md-6 text-left sm-text-center">
          <p class="wow fadeInRight" data-wow-duration="1s"><%= t "made_by" %>
            <i class="fa fa-heart"></i>
            <%= t ".team" %>
          </p>
        </div>
        <div class="col-md-6 text-right sm-text-center sm-m-top-20">
          <ul class="list-inline">
            <li>
              <%= link_to do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fa fa-google"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
